*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
}

#first-section{
    height: 50vh;
    background-image:
}

.first-class{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding: 20px 100px;
    background-color: hsla(0, 0%, 0%, 0.6);
}

.first-class img{
    width: 100px;
}

.first-class h1{
    color: white;
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
}
#second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsla(220, 13%, 91%, 0.5);
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 600px;
    max-height: 550px;
    
}